@charset "utf-8";
/* CSS Document */
/**{*/
/*	-webkit-box-sizing: border-box;*/
/*	-moz-box-sizing: border-box;*/
/*	box-sizing: border-box}*/
/**,body{padding:0px;	margin:0px;color: #222;font-family: "微软雅黑";}*/
@font-face{font-family:electronicFont;src:url(../font/DS-DIGIT.TTF)}
/*body{ background:#000d4a url(../img/bg01.png) center top; background-size:cover;color:#666;}*/
body{
	width: 1920px;
	height: 1080px;
	font-size: 12px;
	border: 1px solid white;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #101129;
	background-size:cover;
	color:#fff;
}
/*粒子效果背景*/
.background {
	position: absolute;
	display: block;
	background: transparent;
	top: 0;
	left: 0;
	z-index: -99;
}

.data_body{
	padding: 1rem;
}
img{ border:none; max-width: 100%;}
a{ text-decoration:none; color:#399bff;}
a.active,a:focus{ outline:none!important; text-decoration:none;}
ol,ul,p,h1,h2,h3,h4,h5,h6{ padding:0; margin:0}
a:hover{ color:#06c; text-decoration: none!important}
.mt_xs{
	margin-top:0.6rem;
}
.layui-col-mdex1{width:29.16666665%}
/*  */
.margin-b-lg{
	margin-bottom: 20px;
}
.margin-t-lg{
	margin-top: 1.6rem;
}
.margin-t-sm{
	margin-top: 0.8rem;
}

/***/
.canvas{position: absolute; width:100%; left: 0; top: 0; height: 99%; z-index: 1;}

.allnav{margin-left:20px;width:95%;height: calc(100% - 10px);}
.loading{position:fixed; left:0; top:0; font-size:18px; z-index:100000000;width:100%; height:100%; background:#1a1a1c; text-align:center;}
.loadbox{position:absolute; width:160px;height:150px; color: #aaa; left:50%; top:50%; margin-top:-100px; margin-left:-75px;}
.loadbox img{ margin:10px auto; display:block; width:40px;}

.copyright{ background:rgba(19,31,64,.32); border: 1px solid rgba(255,255,255,.05); line-height:.5rem; text-align: center; padding-right: 15px; bottom: 0; color:rgba(255,255,255,.7); font-size: .16rem; }

.head{ height:5rem; background: url(../img/head_bg.png) no-repeat center center; background-size: 100% 100%; position: relative; z-index: 100;}
.head h1{ color:#fff; text-align: center; font-size: 2rem; line-height:4rem;}
.head h1 img{ width:1.5rem; display: inline-block; vertical-align: middle; margin-right: .2rem;margin-bottom: 1rem}
.weather{ position:absolute; right:2rem; top:0; }
.tabline li{
	line-height: 35px;
	cursor:pointer;
	margin-bottom: -2px;
}
.nowTime li{
	display: inline-block;
	float: left;
	font-size: 30px;
	width:140px;
	height:40px;
	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#5ec0d2));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	line-height: 30px;
}
.nowTime li div{
	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#5ec0d2));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 16px;
	text-align: left;
}
.nowTime li p {
	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#5ec0d2));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 16px;
}

.panel {
	box-sizing: border-box;
	border: 2px solid red;
	border-image: url(../img/border.png) 51 38 21 132;
	border-width: 2.125rem 1.583rem 0.875rem 5.5rem;
	position: relative;
	margin-top: 1rem;
	margin-bottom: 0.833rem;
}
.panel .inner {
	/* height: 60px; */
	position: absolute;
	top: -2.125rem;
	right: -1.583rem;
	bottom: -0.875rem;
	left: -5.5rem;
	padding: 1rem 1.5rem;
}
/* 概览区域 */
.overview{
	height: 4.583rem;
}
.overview .inner{
	display: flex;
	justify-content: space-between;
}


.mainbox{ padding:.1rem .1rem 0rem .1rem;}
.mainbox>ul{}
.mainbox>ul>li{ float: left; padding: 0 .1rem}

.mainbox>ul>li{ width: 30%}
.mainbox>ul>li:nth-child(2){ width: 40%;padding: 0}
/*.mybg{*/
/*	background: rgba(2,8,23,0.54) url(../img/line.png)!important;*/
/*	background-size: 100% auto;*/
/*}*/
.boxall{ min-height: 19rem;border: 1px solid rgba(25,186,139,.17); padding:1rem .8rem 1rem;  background: rgba(2,8,23,0.54) url(../img/line.png); background-size: 100% auto; position: relative; margin-bottom: .8rem; z-index: 10;}
.boxall:before,
.boxall:after{ position:absolute; width: .7rem; height: .7rem; content: "";  border-top: 2px solid #02a6b5; top: 0;}
.boxall:before,.boxfoot:before{border-left: 2px solid #02a6b5;left: 0;}
.boxall:after,.boxfoot:after{border-right: 2px solid #02a6b5; right: 0;}


.boxfoot{ position:absolute; bottom: 0; width: 100%; left: 0;}
.boxfoot:before,
.boxfoot:after{ position:absolute; width: .7rem; height: .7rem;  content: "";border-bottom: 2px solid #02a6b5; bottom: 0;}

.bar{background:rgba(101,132,226,.1); padding: .15rem;}
.barbox{
	position: relative;
	font-family: electronicFont;
}
.text-s{
	padding-top: 0.5rem;
	/*border-top: 1px dotted #ffeb7b;*/
}

.mt_md{
	margin-top:2rem;
}
.text-s li{font-size: 0.9rem;color: #ffeb7b}
.text-sm li{font-size: 1rem;color: #ffeb7b}
	/*color: #ffeb7b;*/
.barbox li span{
	font-size: 1.6rem;
}
.barbox2 li{ font-size: 1rem; color:rgba(255,255,255,.7); padding-top: 1rem;}

.map{  position:relative; height: 25rem; z-index: 9;text-align: center;vertical-align: middle;background: rgba(2,8,23,0.54);}
.map4{ width: 200%; height:7rem;  position: relative; left: -50%; top: 4%; margin-top: .2rem; z-index: 5;}
.map1,.map2,.map3{ position:absolute; opacity: .5;}
.map1{ width:24.5rem; z-index: 2;top:.45rem; animation: myfirst2 15s infinite linear;}
.map2{ width:24.5rem; top:.45rem;  z-index: 3; opacity: 0.2; animation: myfirst 10s infinite linear;}
.map3{ width:24.5rem; top:.45rem;  z-index: 1;}
.mapbg .map1,.mapbg .map2,.mapbg .map3{
	width:29rem;
}
.map.mapbg{
	height: 30rem;
}
.head{
	height: 80px;
	position: relative;
	padding-top: 13px;
	font-size: 36px;
	color: #00ffff;
	text-align: center;
	background: url(../img/bg-top3.png) top center no-repeat;
}
.head .layui-tab{
	text-align: center!important;
}
.head .layui-tab-title{
	background: transparent;
	border: none;
}
.head .layui-tab-card{
	margin-top: -3.5rem;
	margin-left: 0.5rem;
	border: none;
}
.layui-tab-title li{
	color: #fff;
}
.head .layui-tab-title li a{
	color: #fff;
}
.head .layui-tab-card>.layui-tab-title .layui-this{
	background: #02a6b5;

}

.head .layui-tab-card>.layui-tab-title .layui-this:after {
	border: none;
}

.nav_h_left{
	position: absolute;
	left: 5rem;
	bottom: 2.8rem;
}
.head .nav_h_left{
	background: transparent;
	border: none;
}
.head .layui-tab-card{
	margin-top: -2.5rem;
	margin-left: 0.5rem;
	border: none;
}
.nav_h_left li{
	background: rgba(2,166,181,0.5);
	/*border-radius: 10%;*/
	/*border: 1px solid #02a6b5;*/
	color: #fff;
}
.head .nav_h_left li a{
	padding: 0.5rem;
	color: #fff;
	font-size: 14px;
}
.nav_h_left .nav_this a{
	background: #c4cc38;
}
.nav_h_left li{
	height: 26px;
	background: transparent;
	display: inline-block;
	margin-bottom: 1.6rem;
}
.nav_h_left .nav_this .type1:after,.nav_h_left .nav_this .type1:before {
	border: none;
}
li .type1 {
	color: #00ffff;
	position: relative;
}
li .type1::after,  li .type1::before {
	content: "";
	display: block;
	position: absolute;
	width: 20%;
	height: 20%;
	border: 1px solid;
	transition: all 0.6s ease;
	border-radius: 2px;
}
li .type1::after {
	bottom: 0;
	right: 0;
	border-top-color: transparent;
	border-left-color: transparent;
	border-bottom-color: #63b2ee;
	border-right-color: #63b2ee;
}
li .type1::before {
	top: 0;
	left: 0;
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-top-color: #566473;
	border-left-color: #566473 ;
}
li .type1:hover:after, .type1:hover:before {
	width: 100%;
	height: 100%;
}
.column_title{
	font-size: 2rem;
	display: flex;
	flex-direction: column; /* 垂直方向 */
	justify-content: center; /* 垂直居中 */
	align-items: center; /* 水平居中 */
	height: 13.6rem; /* 根据需要调整高度 */
	letter-spacing: .2rem;
}
.column_title span{
	writing-mode: vertical-rl;
	writing-mode: tb-rl;
}
.pie_title{/*boardhome文件使用*/
	color: #9de0ff;
	font-size: 0.8rem;
	padding-bottom: 1rem;
	text-align: center;

}
.pie_num{
	/*letter-spacing: 1px;*/
	color: #87e885 ;
	/*font-size: 1.2rem;*/

}
.pie_title .pie_num{/*boardhome文件使用*/
	font-size: 1.9rem;
	text-align: center;
}
.pie_title2{/*boardhome文件使用*/
	font-size: 1.3rem;
	font-weight: bold;
	margin: 1.5rem 0 1rem;
	line-height: 2.5rem;
}
.pie_title2 .pie_num{/*boardhome文件使用*/
	width: 6rem;
	height: 6rem;
	line-height: 6rem;
	display: inline-block;
	font-size: 2rem;
	text-align: center;
	border: 2px solid  rgb(0,153,184);
	border-radius:50% ;
}

.pie_title3{/*phome文件使用*/
	font-size: 1rem;
	line-height:3rem;
	font-weight: bold;
	/*line-height:2rem;*/
	color: #9de0ff;
	text-align: left;
}
.pie_title4{/*boardhome文件使用*/
	font-size: 1rem;
	font-weight: bold;
	margin: 1.5rem 0 1rem;
	/*line-height:2rem;*/
	color: #9de0ff;
	text-align: center;

}

.pie_title5 {/*ahome文件使用*/
	font-size: 0.95rem;
	font-weight: bold;
	margin: 2.3rem 0 1rem;
	/* line-height: 2rem; */
	color: #9de0ff;
	text-align: center;
}
.column_title2{/*uhome;*/
	padding:1rem 2rem;
	font-size: 2rem;
	border-radius: 5%;
}
.num_descri_u{/*uhome;*/
	font-size: 0.9rem;
	/*line-height:3rem;*/
	font-weight: bold;
	color: #9de0ff;
	text-align: left;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3; /* 限制显示的行数 */
	overflow: hidden;
	vertical-align:middle;
	height: 3.5rem;
	text-overflow: ellipsis; /* 超出部分显示省略号 */
	/*line-height: 1.1667; !* 根据你的字体大小和行数调整，例如 3.5rem / 3 ≈ 1.1667，但这不是严格的居中 *!*/

}

.txt_num2{/*uhome;*/
	font-size: 2rem;
	/*line-height:3rem;*/
	font-weight: bold;
	color: #87e885;
	position: absolute;
	top: 50%;
	left:90%;
	transform: translate(-50%, -50%); /* 调整位置以完全居中 */
}
.barbox .other_more{
	color: #024b51;
	font-size: 1rem;
}
.right_title{
	position:absolute;right:0;top: 0;color: white;font-size:0.8rem;font-weight: bold
}
.in_txt{
	font-size: 1rem;
	color: #9de0ff;
	line-height:11.2rem;
	margin-left: 2rem;
}
.in_txt2{
	margin-left: 0;
}
.ppie{
	width:100%;min-height:10rem;
	/*margin-top: 2rem;*/
	padding-top:1rem ;
}
.left_title{
	position:absolute;
	left:0;top: -0.5rem;
	font-weight: bold;
	font-size:0.8rem;

	color:white;
}
.title_lg{
	margin-top:2rem;
	font-size: 1.1rem;
}
.title_lg .pie_num{
	font-size: 2rem;
}
.apie{
	width:100%;min-height:8rem;
	margin-top: 2rem;
}

.pie1,.pie2,.pie3{
	width:95%;min-height:7rem
}
.pie7,.pie8,.pie9{
	width:95%;min-height:5rem
}
.pie4{
	width:95%;min-height:5rem
}
.pie6{
	width:95%;min-height:10rem;
	margin-top: 1rem;
}
.alltitle{ font-size:1.5rem; color:#fff; text-align: center; line-height: 1.5rem;}
.text-center{text-align: center}
.myline{
	/*margin-top: 20px;*/
	width: 100%;
	box-shadow: 0 0 10px rgb(0,153,184) inset,0 0 30px rgb(0,153,184);
	border-bottom: 1mm ridge rgba(60,185,252,.6)!important;}
.module0 {
	height: 10rem;
}
.module0_7 {
	height: 13.6rem;
}
.module1{
	height: 16.45rem;
}
.module2{
	height: 23rem;
}
.module2_5{
	height: 25rem;
}
.module3{
	height: 30rem;
}
.module3_5{
	height: 34rem;
}
.module4{
	height: 41rem;
}
.echart_box{
	position: relative;

}
.block_guide{
	text-align: center;
	vertical-align: center;
}
.block_guide div{
	padding: 0.5rem;
}
.block_guide div span {
	width: 2rem;
	height: 1rem;
	display: inline-block;
	text-align: center;
	font-size: 12px;
	border-radius: 20%;
	color: #9de0ff;
	text-shadow: 1px 1px #0C0C0C;
	padding: 2px;
}
.block_guide .on span{
	background: #293fff;
}
.block_guide .out span{
	background: orange;
}
.block_guide .other span{
	background: yellow;
}

.descri_title{
	/*margin-left: 1rem;*/
	font-size: 1rem;
	line-height:3rem;
	font-weight: bold;
	color: #00CBFF;
}
.num_descri2{
	font-size: 0.9rem;
	line-height:3rem;
	font-weight: bold;
	color: #9de0ff;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
	white-space: nowrap;
}
.txt_num{
	font-size: 2rem;
	line-height:3rem;
	font-weight: bold;
	color: #87e885;
}
.upie{
	width:100%;
	min-height:17rem;
}
.pie_content{
	position: absolute;
	width:100%;
	min-height:17rem;
	top:22rem;
}
.other_describ{
	font-size: 0.8rem;
	text-align: right;
	margin-top:-1.5rem;
}

.tabs { text-align: center; padding: .1rem 0 0 0;}
.tabs a {
    position: relative;
    display: inline-block;
    margin-left: 1px;
    padding:.05rem .2rem;
    color: #898989;
    transition: all .3s ease-out 0s;
    font-size: 14px;
}
.tabs li{ display:inline-block;}
.tabs a:after {
    position: absolute;
    width: 1px;
    height: 10px;
    background-color: rgba(255,255,255,.1);
    content: '';
	 margin-left:0; right:-1px;    margin-top: 7px;
	
	
}
.tabs li a.active {border: 1px solid rgba(25,186,139,.17); background: rgba(255,255,255,.05); color:#fff;}

.tit02{ text-align:center; margin: .1rem 0; position: relative}
.tit02 span{border: 1px solid rgba(25,186,139,.17); letter-spacing: 2px; padding: .01rem .2rem; background: rgba(255,255,255,.05);  font-size: .18rem;  color: #49bcf7;}
.tit02:before,.tit02:after{ position:absolute; width:26%; height: 1px;background: rgba(25,186,139,.2);  content: ""; top: .12rem;}
.tit02:after{ right:0;}
.tit02:before{ left:0;}

.wrap{ height:2.54rem; overflow: hidden;}
.wrap li{  line-height:.42rem; height:.42rem; font-size: .18rem; text-indent: .24rem; margin-bottom: .1rem; }
.wrap li p{border: 1px solid rgba(25,186,139,.17);color: rgba(255,255,255,.6); }
.sy{ float:left; width: 33%; height:95%; margin-top: .25rem;}


.adduser{ height:1.5rem; overflow: hidden;}
.adduser li{height:.5rem;}
.adduser img{ width: .40rem; border-radius: .5rem; margin-right: .1rem; display: inline-block; vertical-align: middle;}
.adduser span{  line-height:.5rem; font-size: .18rem;color: rgba(255,255,255,.6); }

.sycm ul{ margin-left:-.5rem;margin-right:-.5rem;  padding: .16rem 0;}
.sycm li{ float: left; width: 33.33%; text-align: center; position: relative}
.sycm li:before{ position:absolute; content: ""; height:30%; width: 1px; background: rgba(255,255,255,.1); right: 0; top: 15%;}
.sycm li:last-child:before{ width: 0;}

.sycm li h2{ font-size:.3rem; color: #c5ccff;}
.sycm li span{ font-size:.18rem; color: #fff; opacity: .5;}

@keyframes myfirst2
{
from {transform: rotate(0deg);}
to {transform: rotate(359deg);}
}

@keyframes myfirst
{
from {transform: rotate(0deg);}
to {transform: rotate(-359deg);}
}


/*Plugin CSS*/
.str_wrap {
	overflow:hidden;
	width:100%;
	position:relative;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;  
	white-space:nowrap;
}


.str_move { 
	white-space:nowrap;
	position:absolute; 
	top:0; 
	left:0;
	cursor:move;
}
.str_move_clone {
	display:inline-block;
	vertical-align:top;
	position:absolute; 
	left:100%;
	top:0;
}
.str_vertical .str_move_clone {
	left:0;
	top:100%;
}
.str_down .str_move_clone {
	left:0;
	bottom:100%;
}
.str_vertical .str_move,
.str_down .str_move {
	white-space:normal;
	width:100%;
}
.str_static .str_move,
.no_drag .str_move,
.noStop .str_move{
	cursor:inherit;
}
.str_wrap img {
	max-width:none !important;	
}
