<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>主网站-列表</title>

  <link href="assets/css/global.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="assets/css/default.css">

  <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
  <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
  <!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<header class="clearfix">
  <div class="top-nav bge3 clearfix">
    <div class="container">
      <div class="fl">
        <span>四川省商贸学校 欢迎您！</span>
      </div>
      <div class="fr">
        <span><a>教务平台</a></span>
        <span><a>校区位置</a></span>
        <!--        <span><a>领导邮箱</a></span>-->
      </div>

    </div>
  </div>
  <!--    顶部logo区-->
  <div class="top container">
    <div class="logo ">
      <div class="search-box fr ">
        <form action="search.html" method="get">
          <div class="fl"><input class="search-input" placeholder="请输入搜索关键字" type="text" value="" name="key" id="search"></div>
          <div class="fr"><input class="search-btn" type="submit" value=""></div>
        </form>
      </div>
      <img border="0" src="assets/img/logo.jpg">
    </div>
  </div>
  <!--    顶部logo区完-->
  <!--    顶部导航开始-->
  <nav class="navbar bg85 clearfix">
    <ul class="nav container white">
      <li><a href="index.html">网站首页 </a></li>
      <li><a href="#">校情总览</a>
        <ul>
          <li><a href="list.html">学校简介</a></li>
          <li><a href="list.html">新年寄语</a></li>
          <li><a href="list.html">学校沿革</a></li>
          <li><a href="list.html">历任领导</a></li>
          <li><a href="list.html">现任领导</a></li>
          <li><a href="list.html">组织机构</a></li>
          <li><a href="list.html">统计资料</a></li>
        </ul>
      </li>
      <li><a href="#">党群建设</a>
        <ul>
          <li><a href="list.html">党建之窗</a></li>
          <li><a href="list.html">职工之家</a></li>
          <li><a href="list.html">团旗飘扬</a></li>
        </ul>
      </li>
      <li><a href="">系部设置</a>
        <ul>
          <li><a href="list.html">财会金融系</a></li>
          <li><a href="list.html">商务与艺术系</a></li>
          <li><a href="list.html">航空旅游系</a></li>
          <li><a href="list.html">电子机械系</a></li>
          <li><a href="list.html">基础与升学部</a></li>
        </ul>
      </li>
      <li  class="active"><a href="#">教学动态</a>
        <ul>
          <li><a href="list.html">专业建设</a></li>
          <li><a href="list.html">诊改工作</a></li>
        </ul>
      </li>
      <li><a href="#">招生就业</a>
        <ul>
          <li><a href="list.html">招生信息网</a></li>
          <li><a href="list.html">就业信息网</a></li>
        </ul>
      </li>
      <li><a href="#">学生工作</a>
        <ul>
          <li><a href="list.html">学工在线</a></li>
          <li><a href="list.html">安全保障</a></li>
          <li><a href="list.html">学生资助</a></li>
        </ul>
      </li>
      <li><a href="#">科学研究</a>
        <ul>
          <li><a href="list.html">学术期刊</a></li>
          <li><a href="list.html">科研项目</a></li>
          <li><a href="list.html">科研成果</a></li>
        </ul>
      </li>
      <li><a href="#">产教融合</a>
        <ul>
          <li><a href="list.html">电商研究所</a></li>
          <li><a href="list.html">农产品电商孵化园</a></li>
          <li><a href="list.html">农村电子商务协会</a></li>
          <li><a href="list.html">合作经济研究中心</a></li>
          <li><a href="list.html">乡村振兴战略研究中心</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <!--    顶部导航结束-->
  <!--    顶部图片banner开始-->
  <div class="nav-banner-img ">
    <img src="assets/img/slide1.jpg">
  </div>
  <!--    顶部图片banner结束-->
</header>
<main >
  <div class="list-p">
    <div class=" container clearfix">
      <!--      左侧栏目导航 开始-->
      <div class="list-p-nav fl">
        <div class="cat-name clearfix">
          教学动态
        </div>
        <div class="l-s-nav  clearfix">

          <ul>
            <li class="selected"><a>专业建设</a></li>
            <li><a>诊改工作</a></li>
          </ul>
        </div>
      </div>
      <!--      左侧栏目导航 结束-->
      <!--      右侧栏目列表 开始-->
      <div class="list-p-content  bgff fr">
        <div class="nav-detail clearfix">
          <span class="fl">专业建设</span>
          <div class="breadnav fr">
            <a>学校首页</a>>
            <a>专业建设</a>
            >&nbsp;列表
            <!--            <a>通知</a>-->
          </div>
        </div>
        <div class="list-detail clearfix">
          <ul>
            <li>
              <div class="fl ptime"><p class="year">07-01</p><p class="date">2020</p></div>
              <a href="detail.html" class="text-overflow fl">这是第一条列表信息列表信息列表信息列表信息列表信息列表信息列表信息列表信息列表信息列表信息列表信息列表信息列表信息</a>
            </li>
            <li>
              <div class="fl ptime"><p class="year">07-01</p><p class="date">2020</p></div>
              <a href="detail.html" class="text-overflow fl">这是第一条列表信息列表信息系</a>
            </li>
            <li>
              <div class="fl ptime"><p class="year">07-01</p><p class="date">2020</p></div>
              <a href="detail.html" class="text-overflow fl">这是第一条列表信息列表信息系</a>
            </li>
            <li>
              <div class="fl ptime"><p class="year">07-01</p><p class="date">2020</p></div>
              <a href="detail.html" class="text-overflow fl">这是第一条列表信息列表信息系</a>
            </li>
            <li>
              <div class="fl ptime"><p class="year">07-01</p><p class="date">2020</p></div>
              <a href="detail.html" class="text-overflow fl">这是第一条列表信息列表信息系</a>
            </li>
            <li>
              <div class="fl ptime"><p class="year">07-01</p><p class="date">2020</p></div>
              <a href="detail.html" class="text-overflow fl">这是第一条列表信息列表信息系</a>
            </li>
            <li>
              <div class="fl ptime"><p class="year">07-01</p><p class="date">2020</p></div>
              <a href="detail.html" class="text-overflow fl">这是第一条列表信息列表信息系</a>
            </li>
            <li>
              <div class="fl ptime"><p class="year">07-01</p><p class="date">2020</p></div>
              <a href="detail.html" class="text-overflow fl">这是第一条列表信息列表信息系</a>
            </li>
          </ul>
        </div>
        <div class="pages">

          <ul>
            <li><a> << </a></li>
            <li class="active"><a>1</a></li>
            <li><a>2</a></li>
            <li><a>3</a></li>
            <li><a>4</a></li>
            <li><a>5</a></li>
            <li><a> >> </a></li>
          </ul>
        </div>
      </div>
      <!--      右侧栏目列表结束-->
    </div>
  </div>
</main>
<footer>
  <div class="container clearfix">
    <div class="footer-l fl ">
      <div  class="fl">
        <img src="assets/img/blue.png">
      </div>
      <div class="f-msg fr clearfix">
        <p>Copyright © 2018 四川省商贸学校. All Rights Reserved </p>
        <p>四川省德阳市千山街399号 邮编：618000 服务热线：0838-2559031</p>
      </div>
    </div>
    <div class="footer-r fr">
      <p><i class="iconfont">&#xe74e;</i>备案号：蜀ICP备07000348号</p>
    </div>
  </div>
</footer>


<script src="assets/js/jquery1.42.min.js"></script>

<!--导航菜单下拉菜单js START-->
<script>
  $(function() {
    $(".nav li").hover(
            function() {
              $(this).addClass("selected");
              $(this).find("ul").show(100);
            },
            function() {
              $(this).removeClass("selected");
              $(this).find("ul").hide(300);
            }
    );
  });
</script>
<!--导航菜单下拉菜单js END-->
</body>
</html>